<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">        
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css') }}">        
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="slider-container">
            <p>Start Time</p>
            <!-- <input type="range" id="StartTime" value="0"> -->
            
            <p>End Time</p>
            <!-- <input type="range" id="EndTime" value="27"> -->
            
            <p>Time Resolution</p>
            <!-- <input type="range" id="TimeRes" value="1"> -->
            
            <p>Period</p>
            <!-- <input type="range" id="Period" value="10"> -->
            
            <p>Tx Start Time</p>
            <!-- <input type="range" id="TxStartTime" value="0"> -->
            
            <p>Rx Time Offset</p>
            <!-- <input type="range" id="RxTOffset" value="3"> -->
            
            <p>Rx Frequency Offset</p>
            <!-- <input type="range" id="RxFOffset" value="2"> -->
            
            <p>Bandwidth</p>
            <!-- <input type="range" id="BandWidth" value="10"> -->
            <div id="StartTime" style="height:200px;"></div>
            <div id="EndTime" style="height:200px;"></div>
            <div id="TimeRes" style="height:200px;"></div>
            <div id="Period" style="height:200px;"></div>
            <div id="TxStartTime" style="height:200px;"></div>
            <div id="RxTOffset" style="height:200px;"></div>
            <div id="RxFOffset" style="height:200px;"></div>
            <div id="BandWidth" style="height:200px;"></div>
        </div>    
        <div id="SignalsPlot" style="width:600px;height:250px;"></div>
        <div id="DiffPlot" style="width:600px;height:250px;"></div>
        <button onclick="plotpic()">Submit</button>

        <script src="{{ url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/modernizr-3.5.0.min.js') }}"></script>        
        <script src="{{ url_for('static', filename = 'js/plotly-latest.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/plugins.js') }}"></script>       
        <script src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/plotting.js') }}"></script>        
        <script>

        </script>
        <!-- <script src="js/main.js"></script> -->
        <!-- <script   src = "{{ url_for('static', filename = 'main.js') }}" ></script> -->

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!-- <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script> -->

        <!-- <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
    </body>
</html>
